You are editing : {{compliment}}
<form method="put" action="/compliments/:id">
  <input type='text' name='compliment' placeholder='enter compliment'>
  <input type='submit' value="Create new Compliment"/>
</form>
